
.feature_form {
    display: flex;
    flex-direction: row;
}

.feature_form > input {
    width: 100%;
}

.feature_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ml-2, .mx-2 {
    margin-left: .5rem !important
}

.btn-circle {
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-close {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b
}

.btn-close:hover {
    color: #fff;
    background-color: #e02d1b;
    border-color: #d52a1a
}
.element-div{
    background: lavender;
    border-radius: 10px;
    box-shadow: 5px 5px;
    margin-bottom: 20px !important;
    padding: 10px !important;
}
